networks:
  ecommerce-network:
    driver: bridge

services:
  # MySQL Database
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Kr12@984872
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-pKr12@984872"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Config Server
  config-server:
    build: ./config-Server
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - ecommerce-network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Service Registry (Eureka)
  service-registry:
    build: ./service-registry
    container_name: service-registry
    ports:
      - "8761:8761"
    depends_on:
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
    environment:
      - SERVER_PORT=8761
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # API Gateway
  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    depends_on:
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8080
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # All other services
  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8081:8081"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8081

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8082:8082"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8082

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8083:8083"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8083

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8084:8084"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8084

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8084/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  cart-service:
    build: ./cart-service
    container_name: cart-service
    ports:
      - "8085:8085"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8085

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8086:8086"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8086

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  wishlist-service:
    build: ./wishlist-service
    container_name: wishlist-service
    ports:
      - "8087:8087"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8087

    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8087/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8088:8088"
    depends_on:
      mysql-db:
        condition: service_healthy
      config-server:
        condition: service_healthy # Wait for config-server to be healthy
      service-registry:
        condition: service_healthy
    environment:
      - SERVER_PORT=8088
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
    driver: local
