spring:
  application:
    name: inventory-service
  config:
    import: configserver:http://config-server:8888
  cloud:
    config:
      fail-fast: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://spring-security:8089
