
spring:
  application:
    name: spring-security # Tells the config server which YML file to look for

  config:
     import: configserver:http://config-server:8888

  cloud:
    config:
      fail-fast: true
